
<html>
<head>
    <link rel="stylesheet" href="~/css/Eldenguide.css">
    <script src = "~/js/script.js"></script>
    <script src = "https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</head>
<body>
    <div id="google_translate_element"></div>

    <div class="container">
        <div id="navbarContainer"></div>

    </div>
    <a asp-controller="Home" asp-action="index"><button type="button"  style="margin: 1%; font-size: 28px; padding: 10px 10px;">← Return</button></a>
    
    <section>
        <form>
            <table >
                <tr><p style="font-family: Segoe UI">Messaging Apps</p></tr>
                <tr>

                    <a asp-controller="Guide" asp-action="WhatsApp">WhatsApp</a>
                    <a asp-controller="Guide" asp-action="Telegram">Telegram</a>
                    <a asp-controller="Guide" asp-action="WeChat">WeChat</a>


                    <td><a href="WhatsApp.html"><img src="Images/For-Logos/WhatsApp Logo.png" alt="WhatsApp.html" class = "btn btn-dark btn-square-md"></a></td>
                    <td><a href="Telegram.html"><img src="Images/For-Logos/Telegram Logo.png" alt="Telegram.html" class = "btn btn-dark btn-square-md"></a></td>
                    <td><a href="WeChat.html"><img src="Images/For-Logos/WeChat Symbol.png" alt="WeChat.html" class = "btn btn-dark btn-square-md"></a></td>
                    
                </tr>

                <tr>
                    <td class = "textDwnBtn"><h3 style="font-family: Arial">WhatsApp</h3></td>
                    <td class = "textDwnBtn"><h3 style="font-family: Arial">Telegram</h3></td>
                    <td class = "textDwnBtn"><h3 style="font-family: Arial">WeChat</h3></td>
                </tr>
            </table>
        </form>
    </section>

    <script>
        // Fetch and inject the content of the navbar.html file
        fetch('./components/navbar.html')
            .then(response => response.text())
            .then(html => {
                document.getElementById('navbarContainer').innerHTML = html;
            });
    </script>
    <script type="module">
        import { redirectToAuthPage } from './scripts/auth.js';

        document.getElementById('auth').addEventListener('click', () => {
        redirectToAuthPage();
      });
    </script>
</body>
</html>