<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Chat Room</title>
    <link rel="stylesheet" href="~/css/chatRoom.css">
    <script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="~/lib/signalr/dist/browser/signalr.js" type="text/javascript"></script>
</head>
<body>
    <div id="chatRoomContainer" style="display: flex;">
        <div class="chatList">
            <h4>Pending Chats</h4>
            <aside id="roomList"></aside>
        </div>
        <section style="width: 70%; padding: 20px;">
            <div id="header">Admin Chat Room</div>
            <ul id="messagesList">
            </ul>
            <div>Message</div>
            <input type="text" id="messageInput" placeholder="Type your message">
            <button id="sendButton">Send Message</button>
        </section>
    </div>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/adminchat.js"></script>   
</body>
</html>
