@{
    ViewData["Title"] = "View Threads";
}
<head>
    <link rel="stylesheet" href="/css/pingu.css">
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    
</head>


<!--<h4 class="PageTitle" style="font-family:'Times New Roman', Times, serif;font-size:25px;">View threads</h4>-->
<p style="font-family:'Times New Roman', Times, serif;font-size:25px; text-align:left;"><a asp-controller="Thread" asp-action="WriteNewThread">Create a new thread</a></p>
<partial name="~/Views/Thread/_ViewThreads.cshtml" model="@Model" />
