@{
    ViewData["Title"] = "View Threads";
}

<h4 class="PageTitle">View threads</h4>
<p><a asp-controller="Thread" asp-action="WriteNewThread">Add new thread</a></p>
<partial name="~/Views/Thread/_ViewThreads.cshtml" model="@Model" />
