@model EldenGuide.Models.User

@{
	ViewData["Title"] = "User Sign Up Page";
}

<html>
	<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up for Users</title>

   

    <!-- Font Awesome -->
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
          integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
          crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/1bb416726a.js"
            crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous" />

    <link rel="stylesheet" href="styles/auth.css" />

    <script src="scripts\script.js"></script>
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <style>
        .column {
            width: 45%;
            height: 50%;
            padding: 10px;
            justify-content: center; /* Center horizontally */
            align-items: center; /* Center vertically */
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />

</head>
<body>
<div class="row">
    <div class="column">
        <img src="/images/hello.gif" style="width:50%" alt="Your GIF">
        <br /><br />
        <h1 >Hello :)</h1>
        <p style="font-family:'Times New Roman', Times, serif;font-size:25px;">
                Create a new account!
            <br> Learn how to use the internet, connect with friends and family, and get the most out of your devices!
        </p>
    </div>
    <div class="column">

            <br /><br /><br /><br /><br />
        <!-- Sign Up -->
        @using (Html.BeginForm("NewUser", "Auth", FormMethod.Post, new { onsubmit = "return NewUser()" }))
        {
            <p>Username : <input type="text" name="Username" placeholder="Username" required /></p>
            <p>
                Email Ad :    <input type="email" name="Email" placeholder="Email" required />
            </p>
            <p>
                Password :               <input type="password" name="Password" placeholder="Password" required />
            </p>
            <input type="submit" value="Sign Up" />
        }

    </div>
</div>








    <!--JavaScript-->

    <script type="module" src="./js/site.js"></script>
    <form id="form" asp-controller="NewUser" asp-action="NewUser" onsubmit="NewUser()">
        <input type="hidden" id="email" asp-for="@Model.Email" />
        <input type="hidden" id="password" asp-for="@Model.Password" />
        <input type="hidden" id="username" asp-for="@Model.Username" />
    </form>

    <script>
        function NewUser() {
            console.log('NewUser called');
            document.getElementById('username').value = document.getElementById('Username').value;
            document.getElementById('email').value = document.getElementById('Email').value;
            document.getElementById('password').value = document.getElementById('Password').value;
        };

    </script>

    <script src='https://unpkg.com/&#64;lottiefiles/lottie-player@latest/dist/lottie-player.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
            integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
            crossorigin="anonymous"></script>

    @*<script type="module" src="./js/auth.js"></script>*@	
</body>
</html>