@model EldenGuide.Models.Staff
@{
    ViewData["Title"] = "Staff Login";
}
<html>
    <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Staff Login</title>
        
    <style>
        * {
            box-sizing: border-box;
        }

        /* Create two equal columns that float next to each other */
        .column {
            float: left;
            width: 50%;
            padding: 10px;
            height: auto; /* Adjust or remove as needed */

            display: flex; /* Added */
            flex-direction: column; /* Added */
            justify-content: center; /* Center vertically */
            align-items: center; /* Center horizontally */
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>

    <link rel="stylesheet" href="~/css/threads.css">
    <link rel="stylesheet" href="styles/auth.css" />
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
    <script src="/js/script.js"></script>
    <link rel="stylesheet" href="/css/pingu.css">
    <script src="scripts\script.js"></script>
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    </head>

    <body >
    <div class="gif-container">
        <div class="gif-text">Use me to translate!</div>
        <img src="/images/penguin.gif" style="max-width:50%; object-fit:contain; height: 10em;" alt="Your GIF">
    </div>
    <div id="google_translate_element"></div>
    <div class="row">
        <div class="column">
            <lottie-player src="https://assets1.lottiefiles.com/private_files/lf30_5i5tlydx.json"
                           background="transparent"
                           speed="1"
                           style="width: 100%; height: auto"
                           loop
                           autoplay></lottie-player>

            <h1 class="mt-2 mb-3">Let's go!</h1>
            <p>
                Sign into Elden Guide and use our detailed user guides designed to close the digital divide.
                <br> Learn how to use the internet, connect with friends and family, and get the most out of your devices!
            </p>

        </div>
        <div class="column">
            <h3>Staff Login</h3>
        @using (Html.BeginForm("StaffLogin", "Auth", FormMethod.Post, new { onsubmit = "return StaffLogin()" }))
            {
                @*<input type="email" name="email" placeholder="Email" required />
            <input type="password" name="password" placeholder="Password" required />
            <input type="submit" value="Sign In" />*@
            <div class="row mb-3">
                <label asp-for="Email" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 col-md-5">
                    <input type="email" id="Email" class="form-control" />
                </div>

            </div>
            <div class="row mb-3">
                <label asp-for="Password"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 col-md-5">
                    <input type="password" id="Password" class="form-control" />
                </div>
            </div>
        </div>
    }
    <label>@Html.ValidationSummary()</label>
   

            <div class="row mb-3">
                <div class="col-sm-9 offset-sm-3">
                    <input type="submit" />
                </div>
            </div>
        }
    </div>
    </div>


    <!--JavaScript-->
    <script type="module" src="./js/site.js"></script>
    <form id="form" asp-controller="User" asp-action="StaffLogin" onsubmit="StaffLogin()">
        <input type="hidden" id="email" asp-for="@Model.Email" />
        <input type="hidden" id="password" asp-for="@Model.Password" />
    </form>

    <script>
        function StaffLogin() {
            console.log('StaffLogin called');
            //document.getElementById('category').value = document.getElementById('Category').value;
            document.getElementById('email').value = document.getElementById('Email').value;
            document.getElementById('password').value = document.getElementById('Password').value;
        };

    </script>
    <script src='https://unpkg.com/&#64;lottiefiles/lottie-player@latest/dist/lottie-player.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
            integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
            crossorigin="anonymous"></script>

    </body>
</html>