@model EldenGuide.Models.Comment

@{
    ViewData["Title"] = "AddComment";
}

<h1>AddComment</h1>

<html>

<body>

    @using (Html.BeginForm("NewThread", "Thread", FormMethod.Post, new { onsubmit = "return handleSubmit();" }))  //push form in NewGuide controller action where data is stored later on to be pushed to database
    {
        <table>
            <tr>
                <td>
                    <label for="Title">Description:</label>
                    <input type="text" name="Desc" id="Desc" />
                    <input type="submit">
                </td>
            </tr>
        </table>
    }

    <form id="form" asp-controller="Comment" asp-action="WriteNewComment" onsubmit="handleSubmit()">
        <input type="hidden" id="category" asp-for="@Model.CommentText" />
    </form>

    <script>
        function handleSubmit() {
            console.log('handleSubmit called');
            document.getElementById('commentText').value = document.getElementById('CommentText').value;
        };

    </script>
</body>
</html>