@model IEnumerable<EldenGuide.Models.Event>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<div class="container">
    <div class="row">
        @foreach (var events in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <p class="card-title"><h5>@events.EventName</h5></p>
                        <p class="card-text">@events.EventPhoto</p>
                        @Html.Raw(events.Details)
                    </div>
                </div>
            </div>
        }
    </div>
</div>
