@model IEnumerable<EldenGuide.Models.Event>

@{
    ViewData["Title"] = "Detailed Index";
}

<h4 class="PageTitle" style="font-family:'Times New Roman', Times, serif;font-size:25px;">View details</h4>
<p style=" font-family:'Times New Roman', Times, serif;font-size:25px;">
<partial name="~/Views/Event/_ViewDetailedEvent.cshtml" model="@Model" />