@model IEnumerable<EldenGuide.Models.Event>

@{
    ViewData["Title"] = "Index";
}

<h4 class="PageTitle">View events</h4>
<p><a asp-controller = "Event" asp-action="AddEvent">Add new Event</a></p>
<partial name="~/Views/Event/_ViewEvents.cshtml" model="@Model" />