<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/chatRoom.css">
</head>
<body>
    <div id="chatRoomContainer">
        <div id="header">Chat Room</div>
        <div>
            <ul id="messagesList">
            </ul>
        </div>
        <div>User</div>
        <div><input type="text" id="userInput" placeholder="Enter your name"></div>
        <div>Message</div>
        <div><input type="text" id="messageInput" placeholder="Type your message"></div>
        <input type="button" id="sendButton" value="Send Message">

    </div>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
</body>
</html>
