@import "./global.css";


  body{
    margin:0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif
  }


    /* Start for table of content*/
  .toc-wrapper {
    max-width: 26%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 3px 30px rgb(0 0 0 / .24);
    position: fixed;
    left:2%;
    top: 25%;
    cursor: pointer;
    display: block;
    overflow: hidden;
  }

  .toc-wrapper.active {
    background-color: #58629a;
  }
  

  .active, .toc-header:hover{
    
    background-color: #58629a; 
  }
  

  .toc-header{
    background:#181d3b;
    padding: 20px;
    border-radius: 20px 20px 0 0px;
    min-height: 40px;
    display: flex;
    align-items: center;
    cursor: point;
  }

  .toc-heading {
    color: white;
    font-size: 2.25rem;
    margin: 0;
    text-align: center;
    max-width: 100%;
    font-weight: 600;
  }

  


  .toc-list {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: white;
    margin: 0;
    list-style: none;
    padding: 10px 20px;
    display: block;
  }

  .toc-list-item:not(:last-child) {
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(91, 91, 91);
  }

  .toc-list-item a {
    white-space: pre-wrap;
    word-break: break-all;
    position: relative;
    color: #4c4c4c;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.25em;
    display: block;
    padding: 10px 10px 10px 50px;
    border-radius: 10;
    cursor: pointer;
  }
  
  .toc-list-item a:before {
    content: '';
    width: 25px;
    height: 25px;
    background-color: #6784bd;
    position: absolute;
    border-radius: 50%;
    left: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  
  .toc-list-item a:hover {
    box-shadow: 0 8px 15px #6784bd;
    background: #6784bd;
    color: white;
  }


  .toc-list-item a:hover::before {
    background: white;
  }
  
  @media (max-width: 768px) {
    .toc-wrapper {
      display: none;
    }
  
    section {
      margin-left: 0px;
    }
  }

  /* End for table of content*/

  section{
    margin-left: 32%;
    font-size: 15px;
  }

  /* below here are for collapsiblees*/
  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    width: 47%;
  }