<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/Navbar.css">
        <script src = "scripts\script.js"></script>
        <script src = "https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <title>How to Use DBS PayLah!</title>
    </head>
    <body>
      <div id="google_translate_element"></div>

        <div class="container">
          <div id="navbarContainer"></div>
        </div>
<div class="toc-wrapper">
  <div class="toc-header">
    <h4 class="toc-heading">Table of Contents</h4>
  </div>
  <div class="toc-list-wrapper">
    <ul class="toc-list">
      <li class="toc-list-item"><a href="#req">Requirements</a></li>
      <li class="toc-list-item"><a href="#Inst">Installation Guide</a></li>
      <li class="toc-list-item"><a href="#payment">Making Payments</a></li>
      <li class="toc-list-item"><a href="#recieve">Receiving Payment</a></li>
      <li class="toc-list-item"><a href="#Hist">History</a></li>
    </ul>
  </div>
</div>
<a asp-controller="Category" asp-action="Banking"><button type="button"  style="margin: 1%; font-size: 28px; padding: 10px 10px;">← Return</button></a>


<section>
  <br>
        <img src="//images/DBS_Paylah_Pics/dbs_paylah_someran.png" width="800px">
  <h1>What is DBS PayLah?</h1>
  <p>DBS PayLah! is a mobile payment app that allows you to send and receive money from other DBS PayLah! users,<br> merchants, and government services.
    It is a free service for DBS/POSB customers.</p>
  <h2 id="req">Requirements</h2>
  <p class="step1">To set up an account, you'll need the followings:</p>
  <ul>
    <li>1. A Valid POSB/DBS Account linked to your mobile phone number</li>
    <li>2. A valid phone number</li>
    <li>3. A smartphone with you!</li>
  </ul>
      <h2 id="Inst">Installation Guide!</h2>
      <p>**Steps to set up a DBS PayLah! account using the DBS PayLah! app:**</p>
      <ol>
        <li>Download and install the DBS PayLah! app on your mobile phone.<br> Please click "Get it On Google Play" if you're an Android user, otherwise <br> click "Download on the Apple Store".</li>
        <a href="https://play.google.com/store/apps/details?id=com.dbs.dbspaylah&pcampaignid=web_share"><img src="/images/For-Logos/to_google_play_store.png" width="180" height="70"></a>
        <a href="https://apps.apple.com/sg/app/dbs-paylah/id878528688"><img src="/images/For-Logos/to_apple_store.png" width="180" height="60"></a>
        <p></p>
        <li>Launch the DBS PayLah! app and tap on **Register via digibank**.</li>
        <p>Step 1: Press Register</p>
        <img src="/images/DBS_Paylah_Pics/register.png" width="300px"><br><br><br>
        <li>now select **Register via Digibank**</li>
        <img src="/images/DBS_Paylah_Pics/regvia.jpg" width="300px">
        <li>Enter your DBS/POSB User ID and password, then tap on **Next**.</li>
        <br><br>
        <img src="/images/DBS_Paylah_Pics/regvia2.jpg" width="300px"><br><br>
        <li>Key in SMS OTP sent to your registered mobile phone.</li><br>
        <img src="/images/DBS_Paylah_Pics/otp.png" width="300px"><br><br>
        <li>Select the bank account you would link to link it with! Then press Next.</li><br>
        <img src="/images/DBS_Paylah_Pics/linkbank.png" width="300px"><br><br>
        <li>Enter details (Nickname, Password, Re-type Password, Mobile Phone number registered) <br>and select next!</li><br>
        <img src="/images/DBS_Paylah_Pics/step6.png" width="300px"><br><br>
        <li>Enter SMS OTP sent to your registered mobile phone again for verification!<br>
        This ensures that you are entering this information and nobody else!</li><br>
        <img src="/images/DBS_Paylah_Pics/step7.png" width="300px"><br><br>
        <li>That's it! Press **Let's Go** to use ur App now!</li><br>
        <img src="/images/DBS_Paylah_Pics/done.png" width="300px"><br><br>

        <li>Optional: Select Let's Go if you are interested to learn how to get started!</li><br>
        <img src="/images/DBS_Paylah_Pics/homepage.png" width="300px"><br><br>

      </ol>

      <h2 id="payment">Making Payments</h2>
      <p>To make a payment with DBS PayLah!, open the application(DBS Paylah) and select Scan.</p>
      <img src="/images/DBS_Paylah_Pics/paylah-home.png" width="300px"><br><br>
      <p>Scan the Merchant's QR Code.</p> 
      <img src="/images/DBS_Paylah_Pics/paylah-scan.png" width="300px"><br><br>
      <p>Select the preferred method indicated by the prompt below!</p> 
      <img src="/images/DBS_Paylah_Pics/paylah-prompt.png" width="300px"><br><br>
      <p>Enter Payment Amount Payable then select Next</p>
      <img src="/images/DBS_Paylah_Pics/paylah-amount.png" width="300px"><br><br>
      <p>Ensure that you are paying to the correct recipient, and the amount payable. Then click Let's Go! to confirm transaction!</p>
      <img src="/images/DBS_Paylah_Pics/paylah-confirm.png" width="300px"><br><br>
      <p>Once transaction is successful, you will receive a confirmation!</p>
      <img src="/images/DBS_Paylah_Pics/paylah-success.png" width="300px">
      <p></p>

      <h2 id = "recieve"> Recieving Payments</h2>
      <p>To recieve payments from people using PayLah!, you can make use of the QR Code</p>
      <h3>QR Code</h3>
      <p>To Recieve payment using QR Code, firstly head back to the main page</p>
      <img src = "/images/DBS_PayLah_Pics/Paylah_Mainpage.jpg"width="300px"><br><br>
      <p>Next, select the "My QR" button</p>
      <img src = "/images/DBS_PayLah_Pics/Paylah_Mainpage_QR.jpg"width="300px"><br><br>
      <p>It should lead you to this page, just allow your friend to scan the qr code <br>and enter the appropriate amount and you are done!</p>
      <img src = "/images/DBS_PayLah_Pics/Paylah_qr.jpg"width="300px">

      <h2 id="Hist">History</h2>
      <p>To access your previous transaction history, ensure that you are currently logged into the app</p>

      <img src="/images/DBS_Paylah_Pics/paylah-hist1.jpg" width="300px"><br><br>
      <p>Tap On your transaction to view the details</p>
      <p>Transaction Details shown: Amount, Date and Time, Transaction Type, Merchant Reference Number,<br> Transaction Reference Number, Messages (if any).</p>
      <p>Only transactions within the last 60 days will be showed</p>
      <p>To view specific individual transaction details, click on that transaction in the list.<br> Then the details of that transaction will be shown.</p>
      <br><br><br><br><br><br><br><br><br><br>

    <script type="module">
        import { redirectToAuthPage } from './scripts/auth.js';

        document.getElementById('auth').addEventListener('click', () => {
        redirectToAuthPage();
      });
    </script>
      <script src = "~/js/bttbtn.js"></script>
    </section>
    


    
    </body>
</html>



