<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Navbar.css">
    <link rel="stylesheet" href="~/css/bttBtn.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src = "~/js/site.js"></script>
    <script src = "https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <title>Health Buddy</title>
</head>
<body>
    <div id="google_translate_element"></div>
    <button onclick="topFunction()" id="bttBtn" title="Go to top">Back to top</button>
      <div class="container">
        <div id="navbarContainer"></div>

      </div>
      <div class="toc-wrapper">
          <div class="toc-header">
            <h4 class="toc-heading">Table of Contents</h4>
          </div>
          <div class="toc-list-wrapper">
            <ul class="toc-list">
              <li class="toc-list-item"><a href="#About">About</a></li>
              <li class="toc-list-item"><a href="#req">Requirements</a></li>
              <li class="toc-list-item"><a href="#Inst">Installation Guide</a></li>
              <li class="toc-list-item"><a href="#Appoint">How to Create Appointment</a></li>
            </ul>
          </div>
      </div>
      <a asp-controller="Category" asp-action="Health"><button type="button"  style="margin: 1%; font-size: 28px; padding: 10px 10px;">← Return</button></a>
        <section>
            <br>
            <img src="/images/SingHealth/singhealth_banner.png" style="width: 50%">
              <h1 id="About">What is Singhealth HealthBuddy?</h1>
              <p>The SingHealth HealthBuddy app is a mobile app that gives patients easy access to a variety of healthcare services,<br> such as appointment scheduling, bill payment, and health information. Patients can use the HealthBuddy app to:</p>
              <ol>
                <li>Manage their appointments: Schedule, reschedule, or cancel appointments, and view their upcoming appointments.</li>
                <li>Pay their bills: View and pay their medical bills online.</li>
                <li>Access health information: Read articles on various health topics, browse a library of health videos,<br> and find information about SingHealth doctors and clinics. </li>
                <li>Request medication refills: Request refills for their prescribed medications.</li>
                <li>Track their queue status: View their queue number and estimated waiting time for their appointments.</li>

              </ol>
              <h1 id="req">Requirements</h1>
              <p>Ensure that you have a following requirements</p>
              <ol>
                <li>A Smartphone</li>
                <li>SingPass Installed on your mobile device</li>
            </ol>
            <h2 id="Inst">Installation Guide</h2>
            <p>Click on your preferred device to download the application!<br>Please select <b>Get it on Google Play if you're an Android User</b>, otherwise <b>select Download on the App Store for IPhone Users.</b></p>
            <a href="https://play.google.com/store/apps/details?id=com.singhealth.healthbuddy&hl=en"><img src="/images/For-Logos/to_google_play_store.png" width="180" height="70"></a>
            <a href="https://apps.apple.com/sg/app/health-buddy/id448572997"><img src="/images/For-Logos/to_apple_store.png" width="180" height="60"></a>
            <p>1. Once Installation is done, Open the application</p>
            <img src="/images/SingHealth/sing1.jpg" width="300px" srcset="">
            <p>2. Press I will Activate later</p>
            <img src="/images/SingHealth/sing2.jpg" width="300px" srcset="">
            <p>3. Now Click Log in</p>
            <img src="/images/SingHealth/sing3.jpg" width="300px" srcset="">
            <p>4. Click Login via SingPass</p>
            <img src="/images/SingHealth/sing4.jpg" width="300px" srcset="">
            <p>5. You will be redirected to login via SingPass, Click the QrCode and accept once redirected</p>
            <img src="/images/SingHealth/sing5.jpg" width="300px" srcset="">
            <p>6.Close the appointment if you are not booking to see a doctor!</p>
            <img src="/images/SingHealth/sing6.jpg" width="300px" srcset="">
            <p>7. Now you are redirected to the homepage!</p>
            <img src="/images/SingHealth/sing7.jpg" width="300px" srcset="">
        
  
  
            <h1 id="Appoint">How to Make Appointments?</h1>
            <p>If video is unavailable, press the link <a href="https://www.youtube.com/watch?v=l5A2049LaqY" >here!</a href></p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/l5A2049LaqY?si=MmXJifYMC1gZ53Vu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h1 id="FAQ">Frequently Asked Questions</h1>
  
  
            <br><br>
            <a href="https://www.singhealth.com.sg/patient-care/patient-visitor-info/pages/health-buddy-faqs.aspx">Link here to SingHealth FAQs</a>
            <br><br><br><br><br><br><br><br>
          </section>





  
    <script type="module">
        import { redirectToAuthPage } from './scripts/auth.js';

        document.getElementById('auth').addEventListener('click', () => {
        redirectToAuthPage();
      });
    </script>
                <script src = "~/js/bttbtn.js"></script>
                <script src = "~/js/script.js"></script>
</body>
</html>