<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Navbar.css">
        <script src = "~/js/script.js"></script>
    <script src = "https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <title>WeChat</title>
</head>
<body>
  <div id="google_translate_element"></div>

    <div class="container">
      <div id="navbarContainer"></div>
    </div>
        <div class="toc-wrapper">
            <div class="toc-header">
              <h4 class="toc-heading">Table of Contents</h4>
            </div>
            <div class="toc-list-wrapper">
              <ul class="toc-list">
                    <li class="toc-list-item"><a href="#whatis">What is WeChat</a></li>
                    <li class="toc-list-item"><a href="#install">Installation</a></li>
                    <li class="toc-list-item"><a href="#VidTut">Video Tutorial</a></li>
                    <li class="toc-list-item"><a href="#FAQ">Frequently Asked Questions</a></li>
              </ul>
            </div>
        </div>
        <a asp-controller="Category" asp-action="Telecommunications"><button type="button"  style="margin: 1%; font-size: 28px; padding: 10px 10px;">← Return</button></a>


        <section>
          <br>
          <img src="/images/WeChat/wechat-baanner.jpg" style="width: 50%">
            <h1 id="whatis">What is WeChat?</h1>
            <p>Tencent's WeChat, also known as Weixin in Chinese, is a Chinese instant messaging, social media, and mobile payment app.<br>WeChat supports text messaging, voice messaging on hold, broadcast (one-to-many) messaging, video conferencing,<Br> video games, mobile payment, photo and video sharing, and location sharing.</p>
            <p>Some requirements before you start, ensure that you have the following requirements!</p>
            <ol>
              <li>A Smartphone</li>
              <li><b>A Valid Phone Number</b> linked to your Smartphone. </li>
              <li>A sufficient mobile phone storage!</li>
            </ol>
          <h2 id="install">Installation Guide</h2>
          <p>Click on your preferred device to download the application!<br>Please select <b>Get it on Google Play if you're an Android User</b>, otherwise <b>select Download on the App Store for IPhone Users.</b></p>
          <a href="https://play.google.com/store/apps/details?id=com.tencent.mm&pcampaignid=web_share"><img src="/images/For-Logos/to_google_play_store.png" width="180" height="70"></a>
          <a href="https://apps.apple.com/us/app/wechat/id414478124"><img src="/images/For-Logos/to_apple_store.png" width="180" height="60"></a>
          <p>1. Once Installation is done, Open the application and select Sign Up</p>
          <img src="/images/WeChat/we-1.jpg" width="300px" srcset="">
          <p>2. Press Sign up Via Mobile</p>
          <img src="/images/WeChat/we-2.jpg" width="300px" srcset="">
          <p>3. Enter Details such as Name, Select the country region you reside in & <br>must be linked to ur phone number, then lastly create the password</p>
          <p>click I have read and accept WeChat's Terms of Service, then Accept and Continue.</p>
          <img src="/images/WeChat/we-3.jpg" width="300px" srcset="">
          <p>4. Optional:Read Wechat Privacy Policy by scrolling, otherwise <Br>click I have read and accept the above terms and click Next.</p>
          <img src="/images/WeChat/we-4.jpg" width="300px" srcset="">
          <p>5. Press Start to start Security Verification, afterwards solve the puzzle</p>
          <img src="/images/WeChat/we-5.jpg" width="300px" srcset="">
          <p>6.Enter Verification Code sent to your mobile phone.</p>
          <img src="/images/WeChat/we-6.jpg" width="300px" srcset="">
          <p>7. Click I have read and understand the above</p>
          <img src="/images/WeChat/we-7.jpg" width="300px" srcset="">
          <p>8. Click I have read and acknowledge the privacy policy</p>
          <img src="/images/WeChat/we-8.jpg" width="300px" srcset="">
          <p>9. You are redirected to the homepage! It is completed!</p>
          <img src="/images/WeChat/we-9.jpg" width="300px" srcset="">


          <h1 id="VidTut">Video Tutorial</h1>
          <p>If video is unavailable, press the link <a href="https://www.youtube.com/watch?v=2_8YY7dRTWE" >here!</a href></p>
            <iframe width="40%" height="100%" src="https://www.youtube.com/embed/2_8YY7dRTWE?si=cBX76VFbxoHatmzb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <h1 id="FAQ">Frequently Asked Questions</h1>


          <button class="collapsible">About WeChat</button>
          <div class="content">
            <p>What is WeChat?
                As of the third quarter of 2018, WeChat had over 1.08 billion monthly active user accounts, making it one of the most influential mobile products worldwide. <br><br>WeChat began as a chat app and has since developed into a market-leading platform that links individuals, companies, and services in China and worldwide.
                
                What is the Official Account on WeChat?<br><br>
                WeChat Official Accounts are a new service designed for businesses, celebrities, government agencies, and organizations. Millions of users can be reached by using official accounts to promote brands. In addition to being a necessary tool for connecting with customers, vendors must have an official WeChat account in order to apply for the WeChat Pay service.</p>
          </div>
          <button class="collapsible">About WeChat Pay</button>
          <div class="content">
            <p>TWith the help of the WeChat app's integrated payment feature, WeChat Pay, users can quickly complete payments using their smartphones. <br><br>WeChat offers a variety of payment options, including Quick Pay, QR Code Payments, In-App Web-Based Payments, and Native In-App Payments, to accommodate your customers' diverse needs and meet their various payment needs.  <br><br> When used in conjunction with WeChat official accounts, the WeChat Pay service investigates and enhances the o2o consumption experience and offers qualified internet solutions for brick-and-mortar businesses. It is the best choice of mobile payments.</p>
          </div>
          <br><br>
          <a href="https://pay.weixin.qq.com/wechatpay_guide/help_faq.shtml">Link here to WeChat FAQs</a>
          <br><br><br><br><br><br><br><br>
        </section>
 
      <script type="module">
          import { redirectToAuthPage } from './scripts/auth.js';
  
          document.getElementById('auth').addEventListener('click', () => {
          redirectToAuthPage();
        });
      </script>

        <script src = "scripts/collapsible.js"></script>
</body>
</html>