<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="~/css/Navbar.css">
      <link rel="stylesheet" href="~/css/bttBtn.css">
      <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script src = "~/js/script.js"></script>
              
      <title>How to Use WhatsApp</title>

      <script src = "https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    </head>
    <body>
      <div id="google_translate_element"></div>
      <button onclick="topFunction()" id="bttBtn" title="Go to top">Back to top</button>
        <div class="container">
          <div id="navbarContainer"></div>

        </div>
        <div class="toc-wrapper">
            <div class="toc-header">
              <h4 class="toc-heading">Table of Contents</h4>
            </div>
            <div class="toc-list-wrapper">
              <ul class="toc-list">
                <li class="toc-list-item"><a href="#About">About</a></li>
                <li class="toc-list-item"><a href="#req">Requirements</a></li>
                <li class="toc-list-item"><a href="#Inst">Installation Guide</a></li>
                <li class="toc-list-item"><a href="#Reg">Registration</a></li>
                <li class="toc-list-item"><a href="#New Chat">Create Chat</a></li>
                <li class="toc-list-item"><a href="#Mes">Message/Reply</a></li>
                <li class="toc-list-item"><a href="#Phot">Photos/Videos/File Transfer</a></li>
                <li class="toc-list-item"><a href="#Call">Calling</a></li>
              </ul>
            </div>
        </div>
        <a asp-controller="Category" asp-action="Telecommunications"><button type="button"  style="margin: 1%; font-size: 28px; padding: 10px 10px;">← Return</button></a>




        <section>
            <br>
            <img src="/images/WhatsApp Header.jpeg" width="800px" >
            <h1 id="About">What is WhatsApp</h1>
            <p>WhatsApp is a free messaging and calling app that allows you to connect with friends and family around the world.</p>
            <h2 id="req">Requirements</h2>
            <p class="step1">To set up an account, you'll need the followings:</p>
        <ul>
            <li>1. A Valid WhatsApp linked to a valid mobile phone number</li>
            <li>2. A smartphone with an internet connection!</li>
        </ul>
    </ul>
    <h2 id="Inst">Installation Guide!</h2>
    <p>**Steps to set up a WhatsApp account using the WhatsApp app:**</p>
    <ol>
      <li>Download and install the WhatsApp app on your mobile phone.<br> Please click "Get it On Google Play" if you're an Android user, otherwise <br> click "Download on the Apple Store".</li>
      <a href="https://play.google.com/store/apps/details?id=com.whatsapp&hl=en&gl=US"><img src="/images/For-Logos/to_google_play_store.png" width="180" height="70"></a>
      <a href="https://apps.apple.com/sg/app/whatsapp-messenger/id310633997"><img src="/images/For-Logos/to_apple_store.png" width="180" height="60"></a>
      <p></p>
    </ol>

      <h2 id="Reg">Registration Guide!</h2>
      <video width="500" height="240" controls>
        <source src="Videos/Everything You Need to Get Started with Private Messaging _ WhatsApp.mp4" type="video/mp4" >        
      </video>

      <h2 id ="New Chat">Starting New Chat</h2>
      <p>Open the WhatsApp App</p>
      <img src="/images/WhatsAppGuide Pics/App Open.jpg" width="300px" ><br><br>
      <p>Press on the ellipses(3 dotted icon) and press on New group</p>
      <img src="/images/WhatsAppGuide Pics/NewChat Button.jpg" width="300px" ><br><br>
      <p>Select people you want to add and click on the green button to continue</p>
      <img src="/images/WhatsAppGuide Pics/AddingPeople.jpg" width="300px" ><br><br>
      <p>Name the Chat according to your preference and press the tick icon to confirm</p>
      <img src="/images/WhatsAppGuide Pics/NamingChat.jpg" width="300px" ><br><br>
      <p>Your chat is officially created!!!!</p>
      <img src="/images/WhatsAppGuide Pics/Confirmed Chat.jpg" width="300px" ><br><br>

      <h2 id ="Mes">Messaging/Replying in WhatsApp</h2>
      <p>Press on any chat, be it group or one on one that you want to message in or reply to</p>
      <img src="/images/WhatsAppGuide Pics/ReplyOrMessage/ChooseChat.jpg" width ="300px" ><br><br>
      <p>Type the message you want to send in the imput field below and click the arrow symbol circled to send your message</p>
      <img src="/images/WhatsAppGuide Pics/ReplyOrMessage/SendMessage.jpg" width ="300px" ><br><br>
      <p>Your message is officially sent and can be read by the other party!!!!</p>
      <img src="/images/WhatsAppGuide Pics/ReplyOrMessage/MessageConfirmed.jpg" width ="300px" ><br><br>

      <h2 id ="Phot">Sending photos/videos</h2>
      <p>Press on the pin icon circled below</p>
      <img src = "/images/WhatsAppGuide Pics/Photos/Step1.jpg" width ="300px" ><br><br>
      <p>Choose the data type of your choice for transfer.In this example we shall select gallery, which shows both pictures and videos</picture> </p>
      <img src = "/images/WhatsAppGuide Pics/Photos/Step2.jpg" width ="300px" ><br><br>
      <p>Select the source of where your data comes from be it from whatsapp,telegram or even your own camera</p>
      <img src = "/images/WhatsAppGuide Pics/Photos/Step3.jpg" width ="300px" ><br><br>
      <p>Select the specific content you would like to share</p>
      <img src = "/images/WhatsAppGuide Pics/Photos/Step4.jpg" width ="300px" ><br><br>
      <p>Press on the forward button</p>
      <img src = "/images/WhatsAppGuide Pics/Photos/Step5.jpg" width ="300px" ><br><br>
      <p>Your video is officially sent(This can be applied to photos as well)</p>
      <img src = "/images/WhatsAppGuide Pics/Photos/Completed.jpg" width ="300px" ><br><br>

      <h2 id = "Call">Calling</h2>
      <p>Press on the Chat or Person you want to initiate a call with</p>
      <img src="/images/WhatsAppGuide Pics/ReplyOrMessage/ChooseChat.jpg" width ="300px" ><br><br>
      <p>Select the type of call you want to have</p>
      <p>(The video symbol circled in red represents video call, while the call symbol circled in blue represents voice call)</p>
      <img src="/images/WhatsAppGuide Pics/Calling/SelectingCallType.jpg " width ="300px" ><br><br>
      <p>Call has been accepted by the other party and has suceeded!!</p>
      <img src="/images/WhatsAppGuide Pics/Calling/CallMade.jpg " width ="300px" ><br><br>
      </section>
     
    <script type="module">
        import { redirectToAuthPage } from './scripts/auth.js';

        document.getElementById('auth').addEventListener('click', () => {
        redirectToAuthPage();
      });
    </script>
    </body>

</html>
